<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fatherId</key>
		<string>10001</string>
		<key>fatherName</key>
		<string>特别关心</string>
		<key>childList</key>
		<array>
			<dict>
				<key>childId</key>
				<string>20001</string>
				<key>childName</key>
				<string>张三</string>
				<key>childImage</key>
				<string></string>
				<key>childStatus</key>
				<string>4G在线</string>
			</dict>
			<dict>
				<key>childId</key>
				<string>20002</string>
				<key>childName</key>
				<string>李四</string>
				<key>childImage</key>
				<string></string>
				<key>childStatus</key>
				<string>WIFI在线</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>fatherId</key>
		<string>10002</string>
		<key>fatherName</key>
		<string>常用群聊</string>
		<key>childList</key>
		<array/>
	</dict>
		<dict>
			<key>fatherId</key>
			<string>10003</string>
			<key>fatherName</key>
			<string>分组一</string>
			<key>childList</key>
			<array>
				<dict>
					<key>childId</key>
					<string>20003</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
				<dict>
					<key>childId</key>
					<string>20004</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
				<dict>
					<key>childId</key>
					<string>20005</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fatherId</key>
			<string>10004</string>
			<key>fatherName</key>
			<string>分组二</string>
			<key>childList</key>
			<array/>
		</dict>
		<dict>
			<key>fatherId</key>
			<string>10005</string>
			<key>fatherName</key>
			<string>分组三</string>
			<key>childList</key>
			<array>
				<dict>
					<key>childId</key>
					<string>20003</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
				<dict>
					<key>childId</key>
					<string>20003</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fatherId</key>
			<string>10006</string>
			<key>fatherName</key>
			<string>分组四</string>
			<key>childList</key>
			<array>
				<dict>
					<key>childId</key>
					<string>20003</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
				<dict>
					<key>childId</key>
					<string>20003</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
				<dict>
					<key>childId</key>
					<string>20003</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
				<dict>
					<key>childId</key>
					<string>20003</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
				<dict>
					<key>childId</key>
					<string>20003</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fatherId</key>
			<string>10007</string>
			<key>fatherName</key>
			<string>分组五</string>
			<key>childList</key>
			<array>
				<dict>
					<key>childId</key>
					<string>20003</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fatherId</key>
			<string>10008</string>
			<key>fatherName</key>
			<string>分组六</string>
			<key>childList</key>
			<array>
				<dict>
					<key>childId</key>
					<string>20003</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
				<dict>
					<key>childId</key>
					<string>20003</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
				<dict>
					<key>childId</key>
					<string>20003</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
				<dict>
					<key>childId</key>
					<string>20003</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
				<dict>
					<key>childId</key>
					<string>20003</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fatherId</key>
			<string>10009</string>
			<key>fatherName</key>
			<string>分组七</string>
			<key>childList</key>
			<array>
				<dict>
					<key>childId</key>
					<string>20003</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
				<dict>
					<key>childId</key>
					<string>20003</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
				<dict>
					<key>childId</key>
					<string>20003</string>
					<key>childName</key>
					<string>测试1</string>
					<key>childImage</key>
					<string></string>
					<key>childStatus</key>
					<string>4G在线</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fatherId</key>
			<string>10010</string>
			<key>fatherName</key>
			<string>分组八</string>
			<key>childList</key>
			<array/>
		</dict>
		<dict>
			<key>fatherId</key>
			<string>10011</string>
			<key>fatherName</key>
			<string>分组九</string>
			<key>childList</key>
			<array/>
		</dict>
	<dict>
		<key>fatherId</key>
		<string>10012</string>
		<key>fatherName</key>
		<string>我的设备</string>
		<key>childList</key>
		<array>
			<dict>
				<key>childId</key>
				<string>30001</string>
				<key>childName</key>
				<string>我的手机</string>
				<key>childImage</key>
				<string></string>
				<key>childStatus</key>
				<string>4G在线</string>
			</dict>
			<dict>
				<key>childId</key>
				<string>30002</string>
				<key>childName</key>
				<string>我的平板</string>
				<key>childImage</key>
				<string></string>
				<key>childStatus</key>
				<string>WIFI在线</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>fatherId</key>
		<string>10012</string>
		<key>fatherName</key>
		<string>手机通讯录</string>
		<key>childList</key>
		<array/>
	</dict>
</array>
</plist>
