<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>这是一个测试标题啊 啊啊啊 啊啊啊</string>
		<key>detail</key>
		<string>北京，简称“京”，是中华人民共和国的首都、直辖市、国家中心城市、超大城市，全国政治中心、文化中心、国际交往中心、科技创新中心，是中国共产党中央委员会、中华人民共和国中央人民政府、全国人民代表大会、中国人民政治协商会议全国委员会、中华人民共和国中央军事委员会所在地。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这是一个测试标题啊 啊啊啊 啊啊啊</string>
		<key>detail</key>
		<string>北京，简称“京”，是中华人民共和国的首都、直辖市、国家中心城市、超大城市，全国政治中心、文化中心、国际交往中心、科技创新中心，是中国共产党中央委员会、中华人民共和国中央人民政府、全国人民代表大会、中国人民政治协商会议全国委员会、中华人民共和国中央军事委员会所在地。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这是一个测试标题啊 啊啊啊 啊啊啊</string>
		<key>detail</key>
		<string>北京，简称“京”，是中华人民共和国的首都、直辖市、国家中心城市、超大城市，全国政治中心、文化中心、国际交往中心、科技创新中心，是中国共产党中央委员会、中华人民共和国中央人民政府、全国人民代表大会、中国人民政治协商会议全国委员会、中华人民共和国中央军事委员会所在地。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这是一个测试标题啊 啊啊啊 啊啊啊</string>
		<key>detail</key>
		<string>北京，简称“京”，是中华人民共和国的首都、直辖市、国家中心城市、超大城市，全国政治中心、文化中心、国际交往中心、科技创新中心，是中国共产党中央委员会、中华人民共和国中央人民政府、全国人民代表大会、中国人民政治协商会议全国委员会、中华人民共和国中央军事委员会所在地。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这是一个测试标题啊 啊啊啊 啊啊啊</string>
		<key>detail</key>
		<string>北京，简称“京”，是中华人民共和国的首都、直辖市、国家中心城市、超大城市，全国政治中心、文化中心、国际交往中心、科技创新中心，是中国共产党中央委员会、中华人民共和国中央人民政府、全国人民代表大会、中国人民政治协商会议全国委员会、中华人民共和国中央军事委员会所在地。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这是一个测试标题啊 啊啊啊 啊啊啊</string>
		<key>detail</key>
		<string>北京，简称“京”，是中华人民共和国的首都、直辖市、国家中心城市、超大城市，全国政治中心、文化中心、国际交往中心、科技创新中心，是中国共产党中央委员会、中华人民共和国中央人民政府、全国人民代表大会、中国人民政治协商会议全国委员会、中华人民共和国中央军事委员会所在地。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这是一个测试标题啊 啊啊啊 啊啊啊</string>
		<key>detail</key>
		<string>北京，简称“京”，是中华人民共和国的首都、直辖市、国家中心城市、超大城市，全国政治中心、文化中心、国际交往中心、科技创新中心，是中国共产党中央委员会、中华人民共和国中央人民政府、全国人民代表大会、中国人民政治协商会议全国委员会、中华人民共和国中央军事委员会所在地。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这是一个测试标题啊 啊啊啊 啊啊啊</string>
		<key>detail</key>
		<string>北京，简称“京”，是中华人民共和国的首都、直辖市、国家中心城市、超大城市，全国政治中心、文化中心、国际交往中心、科技创新中心，是中国共产党中央委员会、中华人民共和国中央人民政府、全国人民代表大会、中国人民政治协商会议全国委员会、中华人民共和国中央军事委员会所在地。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这是一个测试标题啊 啊啊啊 啊啊啊</string>
		<key>detail</key>
		<string>北京，简称“京”，是中华人民共和国的首都、直辖市、国家中心城市、超大城市，全国政治中心、文化中心、国际交往中心、科技创新中心，是中国共产党中央委员会、中华人民共和国中央人民政府、全国人民代表大会、中国人民政治协商会议全国委员会、中华人民共和国中央军事委员会所在地。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这是一个测试标题啊 啊啊啊 啊啊啊</string>
		<key>detail</key>
		<string>北京，简称“京”，是中华人民共和国的首都、直辖市、国家中心城市、超大城市，全国政治中心、文化中心、国际交往中心、科技创新中心，是中国共产党中央委员会、中华人民共和国中央人民政府、全国人民代表大会、中国人民政治协商会议全国委员会、中华人民共和国中央军事委员会所在地。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这是一个测试标题啊 啊啊啊 啊啊啊</string>
		<key>detail</key>
		<string>北京，简称“京”，是中华人民共和国的首都、直辖市、国家中心城市、超大城市，全国政治中心、文化中心、国际交往中心、科技创新中心，是中国共产党中央委员会、中华人民共和国中央人民政府、全国人民代表大会、中国人民政治协商会议全国委员会、中华人民共和国中央军事委员会所在地。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这是一个测试标题啊 啊啊啊 啊啊啊</string>
		<key>detail</key>
		<string>北京，简称“京”，是中华人民共和国的首都、直辖市、国家中心城市、超大城市，全国政治中心、文化中心、国际交往中心、科技创新中心，是中国共产党中央委员会、中华人民共和国中央人民政府、全国人民代表大会、中国人民政治协商会议全国委员会、中华人民共和国中央军事委员会所在地。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这是一个测试标题啊 啊啊啊 啊啊啊</string>
		<key>detail</key>
		<string>北京，简称“京”，是中华人民共和国的首都、直辖市、国家中心城市、超大城市，全国政治中心、文化中心、国际交往中心、科技创新中心，是中国共产党中央委员会、中华人民共和国中央人民政府、全国人民代表大会、中国人民政治协商会议全国委员会、中华人民共和国中央军事委员会所在地。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这是一个测试标题啊 啊啊啊 啊啊啊</string>
		<key>detail</key>
		<string>北京，简称“京”，是中华人民共和国的首都、直辖市、国家中心城市、超大城市，全国政治中心、文化中心、国际交往中心、科技创新中心，是中国共产党中央委员会、中华人民共和国中央人民政府、全国人民代表大会、中国人民政治协商会议全国委员会、中华人民共和国中央军事委员会所在地。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这是一个测试标题啊 啊啊啊 啊啊啊</string>
		<key>detail</key>
		<string>北京，简称“京”，是中华人民共和国的首都、直辖市、国家中心城市、超大城市，全国政治中心、文化中心、国际交往中心、科技创新中心，是中国共产党中央委员会、中华人民共和国中央人民政府、全国人民代表大会、中国人民政治协商会议全国委员会、中华人民共和国中央军事委员会所在地。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这是一个测试标题啊 啊啊啊 啊啊啊</string>
		<key>detail</key>
		<string>北京，简称“京”，是中华人民共和国的首都、直辖市、国家中心城市、超大城市，全国政治中心、文化中心、国际交往中心、科技创新中心，是中国共产党中央委员会、中华人民共和国中央人民政府、全国人民代表大会、中国人民政治协商会议全国委员会、中华人民共和国中央军事委员会所在地。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这是一个测试标题啊 啊啊啊 啊啊啊</string>
		<key>detail</key>
		<string>北京，简称“京”，是中华人民共和国的首都、直辖市、国家中心城市、超大城市，全国政治中心、文化中心、国际交往中心、科技创新中心，是中国共产党中央委员会、中华人民共和国中央人民政府、全国人民代表大会、中国人民政治协商会议全国委员会、中华人民共和国中央军事委员会所在地。</string>
	</dict>
</array>
</plist>
